**1.Explain the key features of Python that make it a popular choice for programming** **bold text**

Ans - Python is popular because it’s easy to read and write, making it great for beginners. It has a huge library of tools that help you build almost anything—from websites to data analysis to artificial intelligence. With a large user base, Python has extensive community support, meaning more tutorials, forums, and resources to help you solve issues and learn faster.It is compatible with various programming paradigms, such as procedural object-oriented, and functional programming.

**2.Describe the role of predefined keywords in Python and provide examples of how they are used in a program**

Ans - Predefined keywords in Python are reserved words have special meanings and cannot be used as identifiers (variable names, function names, etc.) Examples of keywords include if, else, while, for, def, class, import, try, except, return, True, False, None, etc. Keywords are case-sensitive and cannot be redefined or overridden within a Python program. Below are the examples of how they are used in a program

In [4]:
#example 1
age = 18
if age >= 18:
    print("You can vote.")
else:
    print("You cannot vote.")

You can vote.

In [5]:
#example 2
n = 7
i = 1
while i < n:
    print(i)
    i = i+1

1
2
3
4
5
6

In [8]:
#example 3
for i in range(5):
    print(i)

0
1
2
3
4

In [9]:
#example 4
#print the even no
for i in range(10):
    if i%2 != 0:
        continue
    print(i)

0
2
4
6
8

In [26]:
#example 5
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

3**. Compare and contrast mutable and immutable objects in Python with examples**

Ans - In Python, objects can be either changeable (modifiable) or unchangeable (unchangeable). Mutable objects, such as lists and dictionaries, can be modified after creation, while immutable objects, such as tuples and strings, cannot.

In [33]:
#Example of a mutable object (list):
numbers = [1, 2, 3, 4, 5, 6, 7, "siddhant", "dhole", 25.65]
print("Before:", numbers)
numbers.append("tennis")
print("After:", numbers)

Before: [1, 2, 3, 4, 5, 6, 7, 'siddhant', 'dhole', 25.65]
After: [1, 2, 3, 4, 5, 6, 7, 'siddhant', 'dhole', 25.65, 'tennis']

In [39]:
#Example of an immutable object (tuples):
a = ("apple", "banana", "cherry")
a.remove("apple")
print(a)

AttributeError: 'tuple' object has no attribute 'remove'

It will throw an error because tuples in Python are immutable. This means that once a tuple is created, you cannot modify it (add, remove, or change elements). Therefore, methods like .remove() or .append() do not exist for tuples. To solve this first we have to convert an tuple into list and then try

In [41]:
#converting tuple into an list so that it can remove
a = ["apple", "banana", "cherry"]
a.remove("apple")
print(a)

['banana', 'cherry']

**4. Discuss the different types of operators in Python and provide examples of how they are used**

Ans - Operators are special symbols or keywords that are used to carry out specific actions on numbers or variables in Python expressions. Python supports various types of operators, including arithmetic operators (+, -, *, /), comparison operators (==, !=, <, >), logical operators (and, or, not), assignment operators (=, +=, -=, *=, /=), etc. Here’s a breakdown of the main types of operators and examples for each:

In [48]:
#Arithmetic Operators
x = 10
y = 3

print(x + y) #  + (Addition): Adds two values.
print(x - y) #  - (Subtraction): Subtracts one value from another.
print(x * y) #  * (Multiplication): Multiplies two values.
print(x / y) #  / (Division): Divides one value by another.
print(x % y) #  % (Modulus): Returns the remainder of a division.
print(x ** y)#  ** (Exponentiation): Raises a number to the power of another.
print(x // y)#  // (Floor Division): Divides and rounds down to the nearest whole number.

13
7
30
3.3333333333333335
1
1000
3

In [1]:
#Comparison Operators
x = 5
y = 10

print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

False
True
False
True
False
True

In [10]:
#Logical Operators
x = 5
y = 10

print(x > 0 and y > 0)
print(x > 10 or y < 0)
print(not(x > 10))

True
False
True

In [16]:
#Assignment Operators
x = 5
x += 3
print(x)

x *= 3
print(x)

x -= 3
print(x)

x /= 3
print(x)

x %= 3
print(x)

x **= 3
print(x)

x //= 3
print(x)

8
24
21
7.0
1.0
1.0
0.0

**5. Explain the concept of type casting in Python with examples**

Ans - Type casting, also referred to as type conversion, is the process of changing one data type to another in Python. Python provides built-in functions for type casting, such as int(), float(), str(), list(), tuple(), dict(), etc.Type casting is often necessary for performing arithmetic operations, data manipulation, and input/output operations in Python programs.
There are two types of typecasting 1. Implicit 2. Explicit

**Implicit Casting**: Python automatically converts types when it makes sense.

**Explicit Casting**: We use type casting functions (int(), float(), str(), etc.) to manually convert types.

In [29]:
#Examples of Type Casting
#Converting Float to Integer
a = 11.8
a = int(num)
print(a)

7

In [22]:
#Converting String to Integer
balls = "6"
balls = int(balls)
print(balls + 8)

14

In [23]:
#Converting Integer to String
A = 10
B = str(A)
print("The number is " + B)

The number is 10

In [25]:
#Converting to Boolean
random_value = 2
bool_value = bool(random_value)
print(bool_value)

True

In [28]:
#Converting List to String
tennis = ["racquet", "balls", "shoes", "dampener"]
tennis_str = str(tennis)
print(tennis_str)

['racquet', 'balls', 'shoes', 'dampener']

**6. How do conditional statements work in Python? Illustrate with examples**

Ans - Conditional Statements in Python are used to execute code based on the evaluation of one or more conditions. Python supports conditional statements such as if, elif (else if), and else to control the flow of execution. Conditionals can be nested to handle multiple conditions and control different branches of execution based on the outcome of logical expressions.

In [31]:
#Example of Conditional Statements
age = 20

if age < 18:
    print("You are a minor.")
elif age >= 18 and age < 65:
    print("You are an adult.")
else:
    print("You are a senior.")

You are an adult.

In [38]:
#Checking a Positive or Negative Number
a = 18

if a > 0:
    print("Positive number")
elif a == 0:
    print("Zero")
else:
    print("Negative number")

Positive number

**7. Describe the different types of loops in Python and their use cases with examples.**

Ans - In Python, loops are employed to repeat a sequence of actions or code until a specific condition is fulfilled. Python offers two primary types of loops: for loops and while loops. "for” loops are used for iterating over a sequence of elements, while “while” loops are used for executing code until a specified condition becomes False

In [44]:
#for Loop
#"for” loops are used for iterating over a sequence of elements
#Example

for i in range(1,9):
    print(i)

1
2
3
4
5
6
7
8

In [47]:
fruits = ["apple", "banana", "cherry"]
for a in fruits:
    print(a)

apple
banana
cherry

In [48]:
#while Loop
#“while” loops are used for executing code until a specified condition becomes False
#Example
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [51]:
#break and continue
for num in range(10):
    if num == 6:
        break
    print(num)

0
1
2
3
4
5

In [53]:
#continue
for num in range(10):
    if num == 2:
        continue
    print(num)

0
1
3
4
5
6
7
8
9